@tailwind base;
@tailwind components;
@tailwind utilities;

/* .down-moving-arrow {
  animation: moveDown 1s infinite;
}

@keyframes moveDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated-text {
  animation: slideIn 1.5s ease-out;
} */
